# Module 2: Python Basics for Machine Learning

## Module 2.1: Basics of Python- Printing, Variables, Taking Input, Concatenation.

**Print Function**:

In [4]:
print("Machine Learning")
print('Machine Learning')

Machine Learning
Machine Learning

**Concatenation of Strings**:

In [5]:
print("Machine Learning" + " Projects")

Machine Learning Projects

**Printing Numbers**:

Printing Numbers like intergers, float and double donot need Quotes

In [6]:
print(8)

8

In [7]:
print(8+3)

11

**Basic Data types in Python**:

Three Basic Data types in Python are:
- int
- float
- str

In [8]:
type(8)

int

In [9]:
type(5.3)

float

In [10]:
type("english")

str

**Constants and Variables:**

**Variables** are something who's values can be changed.

**Constants** are something who's values can not be changed.

In [14]:
# This is a Variable
marvel_superhero = "Iron Man"
print(marvel_superhero)

Iron Man

In [15]:
marvel_superhero = "Captain America"
print(marvel_superhero)

Captain America

In [16]:
hero1, hero2, hero3 = "Iron Man", "Captain America", "Batman"
print(hero1)
print(hero2)
print(hero3)

Iron Man
Captain America
Batman

In [17]:
x = y = z = 23
print(x)
print(y)
print(z)

23
23
23

**Input function in Python**

In [28]:
number_1 = input("Enter the First Number: ")
number_2 = input("Enter the Second Number: ")

Enter the First Number:  23
Enter the Second Number:  23

In [29]:
print(number_1)
print(number_2)

23
23

In [30]:
sum = number_1 + number_2
print(sum)

2323

In [31]:
number_1 = int(input("Enter the First Number: "))
number_2 = int(input("Enter the Second Number: "))

Enter the First Number:  23
Enter the Second Number:  23

In [32]:
sum = number_1 + number_2
print(sum)

46

In [33]:
# Changing the Data type in Python
num = 5
type(num)

int

In [34]:
float(num)

5.0

In [36]:
type(float(num))

float

## Module 2.2: Basics of Python- Basic Data types in Python.

#### Basic Data types in Python
- Integer
- Float
- Complex
- Boolean
- String

#### 1) Integers

In [37]:
# Integers
a = 8
print(a)

8

In [38]:
type(a)

int

#### 2) Floating Points

In [39]:
# Floating Point
b = 2.3
print(b)

2.3

In [40]:
type(b)

float

#### 3) Complex Numbers

In [41]:
# Complex Numbers
c = 1 + 3j
print(c)

(1+3j)

In [42]:
type(c)

complex

Type Casting or Conversion of one data type to another

Converting Integer to Float Point

In [43]:
x = 10
print(x)
type(x)

10

int

In [44]:
y = float(x)
print(y)
type(y)

10.0

float

Converting Floating Point value to Integer

In [45]:
x = 5.88
print(x)
type(x)

5.88

float

In [46]:
y = int(x)
print (y)
type(y)

5

int

#### 4) Boolean Datatype

In [50]:
# True or False
a = True
print(a)
type(a)

True

bool

In [51]:
b = False
print(b)
type(b)

False

bool

In [56]:
a = 7 < 3
print(a)
b = 10>7
print(b)
type(b)

False
True

bool

#### 5) String Datatype

In [57]:
print("Machine Learning")

Machine Learning

In [58]:
print('Machine Learning')

Machine Learning

In [59]:
my_string = "Machine Learning"
print(my_string)
type(my_string)

Machine Learning

str

In [61]:
print("Hello" * 5)

HelloHelloHelloHelloHello

##### Slicing of Strings

In [62]:
my_string = "Programming"

In [65]:
print(my_string[1:5]) # Remember index starts with 0 #The Second index is excluded

rogr

In [67]:
 # Step means it will print other letter after the step [Start of String : End of String: Step size]
print(my_string[0:10:2])

Pormi

##### String Concatenation

In [68]:
word1 = 'Machine'
word2 = 'learning'
print(word1+word2)

Machinelearning

## Module 2.3: Special Data types in Python - List, Tuples, Dictionaries, Sets

##### Types of Objects in Python
1. Immutable Objects
2. Mutable Objects

##### 1. Immutable Objects
Immutable Objects are the objects who's values cannot be changed once they are created. Immutable objects contains:
- Integer
- float
- String
- Boolean
- **Tuple**

##### 2. Mutable Objects
Mutable Objects are the objects who's values can be changed once they are create. Mutable object consists of:
- **List**
- **Set**
- **Dictionary**

### Lists

In [70]:
# List should be included in square brackets []
# List are like arrays in C and Java. They can store multiple values.
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [71]:
# List can store multiple datatypes. Unlike arrays it can store integer, String, Complex, boolean etc.
my_list = [2,3,1.8,'English',True]
print(my_list)

[2, 3, 1.8, 'English', True]

##### Lists are Mutable (Changable)

In [73]:
# Adding elements to a list by append keyword
my_list = [2,3,1.8,'English', True]
my_list.append(6)
print(my_list)

[2, 3, 1.8, 'English', True, 6]

In [75]:
# Print elements of the list using their index
print(my_list[0])
print(my_list[1])

2
3

In [76]:
# List allows duplicate values unlike sets.
list1 = [1,2,3,4,5,1,2,3]
print(list1)

[1, 2, 3, 4, 5, 1, 2, 3]

In [77]:
# Check the size of the list using length function (len)
print(len(list1))

8

In [78]:
#Initiating an empty list
list2 = []
print(list2)

[]

In [79]:
list2.append(5)

In [80]:
print(list2)

[5]

In [84]:
# Delete the item in a list 
list2 = [2, 3, 1.8, 'English', True, 6]
del list2[2]
print(list2)

[2, 3, 'English', True, 6]

In [85]:
# Join Two lists
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]

list3 = list1+list2
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Tuples

In [87]:
# Tuples are similar as lists, except they are immutable or unchangable
tuple1 = (2,3,4,5)
print(tuple1)
type(tuple1)

(2, 3, 4, 5)

tuple

In [88]:
# Tuples also allow multiple datatypes in itself 
tuple2 = (1,2,3.5,'Machine Learning', False)
print(tuple2)
type(tuple2)

(1, 2, 3.5, 'Machine Learning', False)

tuple

#### Converting a List into a Tuple

In [92]:
my_list = [3,4,5,6]
print(my_list)

my_tuple = tuple(my_list) #Use type-casting 
print(my_tuple)

[3, 4, 5, 6]
(3, 4, 5, 6)

In [93]:
print(my_tuple[0])
print(my_tuple[1])

3
4

##### Tuples are immutable that means that the elements in the Tuples cannnot be changed

In [94]:
my_tuple.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [95]:
print(len(my_tuple))

4

### Set

In [98]:
# Set should be enclosed in Curly braces {}
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [99]:
print(my_set[0]) #Set Doesnot contain Indexing.

TypeError: 'set' object is not subscriptable

##### Converting List to a Set

In [100]:
list1 = [1,2,3,4,5]
set1 = set(list1)
print(set1)

{1, 2, 3, 4, 5}

In [101]:
type(set1)

set

In [102]:
# Set doesnot allow Duplicate Values like Tuple and List
list2 = [1,1,2,2,3,3,4,4,5,5]
set2 = set(list2)
print(set2)

{1, 2, 3, 4, 5}

### Dictionary

In [103]:
# Dictionary contains key-value pairs
my_dictionary = {'name' : 'David', 'age' : 30, 'country' : 'India'}
print(my_dictionary)
type(my_dictionary)

{'name': 'David', 'age': 30, 'country': 'India'}

dict

In [104]:
print(my_dictionary['name'])
print(my_dictionary['age'])
print(my_dictionary['country'])

David
30
India

In [105]:
# Dictionaries doesnot allow Duplicate Values
dictionary2 = {'name' : 'David', 'age' : 30, 'country' : 'India', 'name' : 'David', 'age' : 30, 'country' : 'India'}
print(dictionary2)

{'name': 'David', 'age': 30, 'country': 'India'}

In [107]:
# Also See how to Mutate A Dictionry, List and Tuple. How to append and delete the values from Dictionary. How to Splice these datatypes

## Module 2.5: Operators in Python

#### Operators in Python
There are 6 types of Operators in Python:
- Arithmetic Operators
- Assignment Operators
- Comparision Operators
- Logical Operators
- Identity Operators
- Membership Operators

##### 1) Arithmetic Operators

In [6]:
num_1 = 20
num_2 = 10

# Addition operator
sum = num_1 + num_2
print('sum = ', sum)

# Difference Operator
diff = num_1 - num_2
print('difference = ', diff) # Prints the Quotient (Answer)

# Multiplication Operator
mult = num_1 * num_2
print('product = ', mult)

# Division Operator
div = num_1 / num_2
print('Division = ',div)

# Modulus Operator
mod = num_1 % num_2
print('Modulus = ', mod) # Print the Remainder

# Exponent Operator
exp = num_1 ** num_2
print('Exponent = ',exp)

sum =  30
difference =  10
product =  200
Division =  2.0
Modulus =  0
Exponent =  10240000000000

##### 2) Assignemnt Operators

In [7]:
a = 5 # = assigns value 5 to a
print(a)

5

In [9]:
a = 5
a += 5 #a = a + 5
print(a)

10

In [10]:
b = 5
b -= 2 # b = b-2
print(b)

3

In [11]:
c = 10
c *= 2
print(c)

20

##### 3) Comparision Operators

In [16]:
a = 5 
b = 10

print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a<=b)
print(b>=a)

False
True
False
True
True
True

##### 4) Logical Operators

In [19]:
# There are many logical operators but mainly we use and, or and not
a = 10
print(a>20 and a>5) # Give true if both are true
print(a>20 or a>5) # Give true if either is true
print(not(a>8 and a>5)) # Inverts the Output from true to false and vice versa

False
True
False

##### 5) Identity Operators

In [22]:
# Identity Operators are 'is' and 'is not' gives a boolean output
x = 5
y = 6

print(x is y)
print(x is not y)

False
True

##### 6) Membership Operators

In [24]:
# there are two memebership operators 'in' and 'not in'

a = 5
b = 10
c = [1,2,3,4,5]

print(a in c)
print (b in c)

True
False

In [25]:
a = 5
b = 10
c = [1,2,3,4,5]

print(a not in c)
print (b not in c)

False
True

## Module 2.6: If else Statements

In [27]:
# Simple if else statement

a = 30
b = 50

if (a > b):
    print ('a is the greatest number')
else:
    print('b is the greatest number')

b is the greatest number

In [29]:
a = int(input('Enter the first number: '))
b = int(input('Enter the second number: '))

if (a > b):
    print('First number is greater than second number')
else:
    print('Second number is greater than first number')

Enter the first number:  10
Enter the second number:  20

Second number is greater than first number

In [32]:
# If elif and else Statement
a = int(input('Enter the first number: '))
b = int(input('Enter the second number: '))
c = int(input('Enter the third number: '))

if (a>b and a>c):
    print('First Number is Greatest')
elif(b>a and b>c):
    print('Second Number is Greatest')
else:
    print('Third Number is Greatest')

Enter the first number:  10
Enter the second number:  20
Enter the third number:  15

Second Number is Greatest

In [36]:
# Nested If Statement
a = 20
b = 40
c = 60

if (a>b):
    if (a>c):
        print('a is the greatest')
    else:
        print('c is the greatest')

else:
    if (b>c):
        print('b is the greatest')
    else:
        print('c is the greatest')

c is the greatest

## Module 2.7: Loops in Python

#### For Loop

In [39]:
laptop1 = int(input('Enter the price of the laptop: '))
laptop2 = int(input('Enter the price of the laptop: '))
laptop3 = int(input('Enter the price of the laptop: '))
laptop4 = int(input('Enter the price of the laptop: '))
laptop5 = int(input('Enter the price of the laptop: '))

Enter the price of the laptop:  20000
Enter the price of the laptop:  30000
Enter the price of the laptop:  40000
Enter the price of the laptop:  50000
Enter the price of the laptop:  60000

In [41]:
# The above process is very tedious
# Loops helps us to easy it

for i in range(5):
    laptop_price = int(input('Enter the price of the laptop: '))

Enter the price of the laptop:  20000
Enter the price of the laptop:  30000
Enter the price of the laptop:  40000
Enter the price of the laptop:  50000
Enter the price of the laptop:  60000

In [44]:
# Printing elements in the list one by one
numbers = [50, 100, 150, 200]

print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])

50
100
150
200

In [46]:
# Printing elements in the list one by one using FOR Loop
numbers = [50, 100, 150, 200]

for i in numbers:
    print(i)

50
100
150
200

#### While Loop

In [47]:
# In for loop we know how many times the loop should run. In while loop we donot know how many times the loop runs.
# This is useful when we donont know how big the list is.
i = 0

while (i<10):
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

## Module 2.8: Functions in Python

Function is a block of code that can be reused in a Program.

In [51]:
# Factorial of a Number normal Program
number = int(input('Enter a Number to find its factorial : '))

factorial = 1

if number == 0:
    print('The Factorial of 0 is : 1')

else:
    for i in range(1, number+1): # Range (1,6)
        factorial = factorial*i  # 1*1 -> (1*1)*2 -> (1*1*2)*3 -> (1*1*2*3)*4 -> (1*1*2*3*4)*5
    print('The factorial of the number is : ',factorial)

Enter a Number to find its factorial :  5

The factorial of the number is :  120

In [52]:
# making the normal program into a function:
def factorial_value(number):
    factorial = 1
    if number == 0:
        return factorial

    else:
        for i in range(1,number+1):
            factorial = factorial*i
        return factorial

In [53]:
factorial_value(5)

120

In [54]:
factorial_value(10)

3628800

In [55]:
factorial_value(120)

6689502913449127057588118054090372586752746333138029810295671352301633557244962989366874165271984981308157637893214090552534408589408121859898481114389650005964960521256960000000000000000000000000000